<a href="https://colab.research.google.com/github/laya2002/assignament-10/blob/master/assignment_10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Write a Python program to get the largest & smallest number from a list.

In [1]:
def smallest_num_in_list( list ):
    min = list[ 0 ]
    for a in list:
        if a < min:
            min = a
    return min
print(smallest_num_in_list([1, 2, -8, 0]))

-8

In [2]:
def max_num_in_list( list ):
    max = list[ 0 ]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([1, 2, -8, 0]))

2

Write a Python program to remove duplicates from a list.

In [3]:
duplicate=[1,3,5,3,7,10,7,3]
print(list(set(duplicate)))

[1, 3, 5, 7, 10]

Write a Python program to clone or copy a list

In [4]:
a=[10,3,15,12]
new_list=list(a)
print(a)
print(new_list)

[10, 3, 15, 12]
[10, 3, 15, 12]

Write a Python program to print a specified list after removing the 0th, 4th and 5th elements. Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

In [5]:
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
color = [x for (i,x) in enumerate(color) if i not in (0,4,5)]
print(color)

['Green', 'White', 'Black']

Write a Python program to print the numbers of a specified list after removing even numbers from it.

In [6]:
num = [7,8, 120, 25, 44, 20, 27]
num = [x for x in num if x%2!=0]
print(num)

[7, 25, 27]

Write a Python program to shuffle and print a specified list.

In [7]:
from random import shuffle
color = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
shuffle(color)
print(color)

['Black', 'Red', 'Yellow', 'Green', 'Pink', 'White']

Write a Python program to get the difference between the two lists.

In [8]:
list1 = [1, 3, 5, 7, 9]
list2=[1, 2, 4, 6, 7, 8]
diff_list1_list2 = list(set(list1) - set(list2))
diff_list2_list1 = list(set(list2) - set(list1))
total_diff = diff_list1_list2 + diff_list2_list1
print(total_diff)

[9, 3, 5, 8, 2, 4, 6]